.navigation_item {
    color: #000;
    font-size: 14px;
}

.navigation_item:hover {
    color: #000;
    text-decoration: none;
}

.footer {
    height: 248px;
    display: flex;
    justify-content: center;
    background: #38a8ea;
    font-size: 14px;
}

.main_content {
    min-height: calc( (100vh - 85px) + 150px ) ;
    height: 1px;
}